# SwiftFormat configuration for Convergio
# https://github.com/nicklockwood/SwiftFormat

--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--wrapcollections before-first
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapconditions preserve
--self remove
--selfrequired
--stripunusedargs closure-only
--header strip
--organizetypes class,struct,enum,extension
--extensionacl on-extension
--redundanttype inferred
--patternlet inline
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--elseposition same-line
--guardelse same-line
--emptybraces no-space
--allman false
--ifdef no-indent
